In [17]:
# üìò LIST PRACTICE
my_list = [3, 7, 2, 9, 1, 5, 7]

# üëâ TODOs:
# 1. Append the number 10 to the list
my_list.append(10)
print(my_list)
# 2. Sort the list in ascending order
my_list.sort()
print(my_list)
# 3. Count how many times 7 appears in the list
count_7 = my_list.count(7)
print(my_list)
# 4. Insert the number 100 at index 2
my_list.insert(2, 100)
print(my_list)
# 5. Remove the element at index 3
my_list.pop(3)
print(my_list)
# 6. Reverse the list
my_list.reverse()
print(my_list)
# 7. Print only the even numbers from the list
even_numbers = [num for num in my_list if num % 2 == 0]
print(even_numbers)

# üìò TUPLE PRACTICE
my_tuple = (4, 2, 9, 4, 7, 2)

# üëâ TODOs:
# 1. Count the number of times 2 appears    
count_2 = my_tuple.count(2)
print(count_2)
# 2. Find the index of the first occurrence of 4
index_4 = my_tuple.index(4)
print(index_4)
# 3. Convert the tuple to a list and sort it
new_list=list(my_tuple)
new_list.sort()
print(new_list)
# 4. Create a new tuple with elements from index 1 to 4 (inclusive)
new_tuple=my_tuple[1:5]
print(new_tuple)
# 5. Check if the number 9 is in the tuple
print(9 in my_tuple)


# üìò SET PRACTICE
my_set = {3, 5, 7, 9, 11}

# üëâ TODOs:
# 1. Add 13 to the set
my_set.add(13)
print(my_set)
# 2. Try to add 5 again and see what happens
my_set.add(5)
print(my_set)
# 3. Remove 3 from the set
my_set.remove(3)
print(my_set)
# 4. Create another set {5, 10, 15} and do:
new_set={5,10,15}

#    - Union
new_set & my_set
print(new_set | my_set)
#    - Intersection
print(new_set & my_set)
#    - Difference (my_set - new_set)
print(new_set - my_set)
# 5. Check if my_set is a subset of {3, 5, 7, 9, 11, 13, 15}


# üìò DICTIONARY PRACTICE
my_dict = {
    "name": "Viswanth",
    "role": "Data Scientist",
    "skills": ["Python", "SQL", "Statistics"]
}

# üëâ TODOs:
# 1. Add a new key-value pair: "location": "San Antonio"
my_dict['location']='San Antonio'
# 2. Update the value of "role" to "Aspiring Data Scientist"
my_dict['role']='Aspiring Data Scientist'
# 3. Add "Git" to the list of skills
my_dict['skills'].append('Git')
# 4. Remove the key "name"
del my_dict['name']
# 5. Check if "location" exists in the dictionary
print('location' in my_dict.keys())

# 6. Loop over the dictionary and print each key and value
for key,value in my_dict.items():
    print(key,value)

[3, 7, 2, 9, 1, 5, 7, 10]
[1, 2, 3, 5, 7, 7, 9, 10]
[1, 2, 3, 5, 7, 7, 9, 10]
[1, 2, 100, 3, 5, 7, 7, 9, 10]
[1, 2, 100, 5, 7, 7, 9, 10]
[10, 9, 7, 7, 5, 100, 2, 1]
[10, 100, 2]
2
0
[2, 2, 4, 4, 7, 9]
(2, 9, 4, 7)
True
{3, 5, 7, 9, 11, 13}
{3, 5, 7, 9, 11, 13}
{5, 7, 9, 11, 13}
{5, 7, 9, 10, 11, 13, 15}
{5}
{10, 15}
True
role Aspiring Data Scientist
skills ['Python', 'SQL', 'Statistics', 'Git']
location San Antonio

In [30]:
import pandas as pd

# üìò DATAFRAME SETUP
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 29],
    'Department': ['HR', 'IT', 'Finance', 'IT', 'HR'],
    'Salary': [50000, 60000, 70000, 80000, 62000]
}

df = pd.DataFrame(data)

# üîç Preview the data
print(df)

# üëâ TODOs (Quiz-style)

# 1. Display the first 3 rows of the DataFrame
print(df.head(3))

# 2. What are the column names?
print(df.columns)

# 3. What is the average salary?
print(df['Salary'].mean)

# 4. Add a new column called "Seniority" where:
#    - 'Junior' if Age < 30
#    - 'Mid' if Age between 30 and 39
#    - 'Senior' if Age >= 40
df['Seniority'] = df['Age'].apply(
    lambda age: 'Junior' if age < 30 else ('Mid' if age <= 39 else 'Senior')
)

# 5. Filter and show only the employees from the 'IT' department
print(df[df['Department']=='IT'])

# 6. What is the maximum salary in the HR department?
print(df[df['Department']=='HR']['Salary'].max)

# 7. Change the salary of 'Charlie' to 75000
df.loc[df['Name']=='Charlie','Salary']=75000
print(df)
# 8. Remove the row where Name is 'David'
df=df.drop(df.loc[df['Name']=='David'].index,axis=0)
print(df)

# 9. Sort the DataFrame by Salary in descending order
df=df.sort_values(by='Salary',axis=0,ascending=False)
print(df)

# 10. Group by Department and calculate average Age and Salary for each group
df=df.groupby('Department')[['Age','Salary']].mean()
print(df)

# Bonus:
# 11. Export the modified DataFrame to a CSV file called `employee_summary.csv`
df.to_csv('output.csv',index=False)

      Name  Age Department  Salary
0    Alice   25         HR   50000
1      Bob   30         IT   60000
2  Charlie   35    Finance   70000
3    David   40         IT   80000
4      Eva   29         HR   62000
      Name  Age Department  Salary
0    Alice   25         HR   50000
1      Bob   30         IT   60000
2  Charlie   35    Finance   70000
Index(['Name', 'Age', 'Department', 'Salary'], dtype='object')
<bound method Series.mean of 0    50000
1    60000
2    70000
3    80000
4    62000
Name: Salary, dtype: int64>
    Name  Age Department  Salary Seniority
1    Bob   30         IT   60000       Mid
3  David   40         IT   80000    Senior
<bound method Series.max of 0    50000
4    62000
Name: Salary, dtype: int64>
      Name  Age Department  Salary Seniority
0    Alice   25         HR   50000    Junior
1      Bob   30         IT   60000       Mid
2  Charlie   35    Finance   75000       Mid
3    David   40         IT   80000    Senior
4      Eva   29         HR   62000    Junior
      Name  Age Department  Salary Seniority
0    Alice   25         HR   50000    Junior
1      Bob   30         IT   60000       Mid
2  Charlie   35    Finance   75000       Mid
4      Eva   29         HR   62000    Junior
      Name  Age Department  Salary Seniority
2  Charlie   35    Finance   75000       Mid
4      Eva   29         HR   62000    Junior
1      Bob   30         IT   60000       Mid
0    Alice   25         HR   50000    Junior
             Age   Salary
Department
Finance     35.0  75000.0
HR          27.0  56000.0
IT          30.0  60000.0